@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

:root {
    --cb: cubic-bezier(.05, .61, .41, .95);
}

body {
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Hind', sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 1000px;
    width: calc(100% - 80px);
    height: 400px;
    transition: .5s var(--cb);
}

.cards .card {
    position: relative;
    overflow: hidden;
    min-width: 80px;
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s var(--cb);
    filter: grayscale(100%);
}

.cards .card:hover {
    filter: grayscale(0%);
}

.cards .card.active {
    flex-grow: 10000;
    max-width: 600px;
    margin: 0;
    background-size: cover;
    filter: grayscale(0%);
}

.cards .card:not(.active) {
    flex-grow: 1;
}
.cards .card .label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 20px;
    height: 40px;
    color: #FFF;
    transition: .5s var(--cb);
    opacity: .5;
}
.cards .card.active .label {
    opacity: 1;
}
.cards .card .label .profile {
    background: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.cards .card .label .profile img {
    width: 100%;
}

.cards .card .label .info {
    position: absolute;
    display: block;
    width: 400px;
    left: 80px;
    transition: .3s var(--cb);
}

.cards .card .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    opacity: 0;
    background: rgb(24, 25, 26);
    background: linear-gradient(0deg, 
                rgba(24, 25, 26, 0.8024160347732843) 0%, 
                rgba(24, 25, 26, 0) 100%);
    transition: .3s var(--cb);
}
.cards .card.active .overlay {
    opacity: 1;
}

.auth {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgba(100%, 100%, 100%, 30%);
    font-size: .8rem;
}

.title {
    text-align: center;
    margin: 30px;
    color: rgba(100%, 100%, 100%, 70%);
}

.title h1,
p {
    margin: 0;
}

.auth span {
    color: rgba(24, 182, 193, .8);
}